<!-- Home -->
<div>
    <h1 class="home-welcome-text">Welcome To your school portal </h1>
    <p class="sub-intro-text">Using this portal you, new stuents can be added into the system, information about students can be updated and also you can view live information about all the students enrolled in this school.</p>
</div>