<section class="loginform cf">
	<form name="login" action="/login" method="post" accept-charset="utf-8">
		
			
				<label for="usermail">Email</label>
				<input type="text" name="username" value="kush" required>
			
				<label for="password">Password</labe>
				<input type="password" name="password" value="Test@1234" required>

				<input type="submit" value="Login">

		
	</form>
</section>