<h3  class="exit_text" style="color:blue;  position: absolute;left: 100px;
    top: 250px"> Thank-you for your visit, We shall see you again in better and bigger form ! When we come back on Rails framework. </h3>